body{
    text-align: center;
    padding: 20px;
    display: grid;
    overflow: hidden;
}
h1{
    text-align: center;
}
.main{
    display: flex;
}
.form{
    border-radius: 50px;
    border: 2px solid #0011;
    width: 45%;
    text-align: center;
}
.text-input{
    width: 80%;
    padding: 5px;
    height: 30%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn1{
    border-radius: 5px;
    width: 30%;
    height: 30%;
    background-color: rgba(58, 166, 255, 0.596);
    border: 2px solid black;
    cursor: pointer;
    padding: 10px;
}
.btn1:hover{
    background-color: rgba(22, 130, 218, 0.596);
}
.btn2{
    border-radius: 5px;
    width: 30%;
    height: 30%;
    background-color: #ca2a14;
    cursor: pointer;
    padding: 10px;
}
.btn2:hover{
    background-color: #851506;
}
.msg{
    position: relative;
    border-radius: 50px;
    border: 2px solid #0011;
    text-align: center;
}
section{
    margin: 20px;
    width: 50%;
    padding: 50px;
}
.text-input-salida{
    width: 80%;
    padding: 5px;
    height: 30%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}